header {

    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

body{
    height: 125vh;
    margin-top: 80px;
    font-family: Georgia;
    padding: 50px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

#SessionHolder{
    visibility: hidden;
}